form {
    margin: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 23px;
    display: inline-grid;
    grid-template-columns: 1fr 3fr 3fr 3fr 3fr;
    column-gap: 1px;
    /* grid-template-rows: auto; */
    
}

.form-element {
    border: none;
    box-sizing: border-box;
    /* margin: 0 0 2px; */
    padding: 0 12px;
    background: rgb(0, 122, 204);
    color: white;
}

select {
    appearance: none;
}

.submit {
    background: rgb(22, 130, 93);
    cursor: pointer;
    font-weight: bold;
    
}

.submit:disabled {
    opacity: 0.5;
}
