.signin {    
    height: 23px;
    width: 75%;
    display: grid;
    grid-template-columns: 3fr 3fr 1fr;
}

.signin--element {
    background-color: cadetblue;
    color: white;
    border: none;
    box-sizing: border-box;
    padding: 0 12px;
}

.submit {
    background: cadetblue;
    cursor: pointer;
    font-weight: bold;
    color: white;
}

.submit:disabled {
    opacity: 0.5;
}

.error{
    font-size: 1.6em;
    margin-top: 1em;    
    color: red;
}
