form {
    height: 23px;
    display: inline-grid;
    grid-template-columns: 1fr 3fr 3fr 3fr 3fr;
    column-gap: 1px;
    grid-template-rows: auto;
}

/* \TODO implement media query guided grid styling for
        json editor tool */
@media (max-width: 800px) {
    form {
        grid-template-areas: 
            'submit form-element form-element'
            'submit form-element form-element'
        ;
    }
}

.form-element {
    border: none;
    box-sizing: border-box;
    padding: 0 12px;
    background: rgb(0, 122, 204);
    color: white;
}

select {
    appearance: none;
}

.submit {
    background: rgb(114, 136, 128);
    cursor: pointer;
    font-weight: bold;
    
}

.submit:disabled {
    opacity: 0.25;
}
