.time-waster {
    width: 200px;
    background-color: #1C1517;
    border: 1px solid #ddd;
    padding: 4px 8px;
    text-align: center;
    font-size: 1.5rem;
}

.time-waster--element {
    /* This has to be specified in this way because display values are not
        inherited by children elements */
    display: inline-block;
}

.button {
    font-family: inherit;
    font-size: inherit;
    border: inherit;
    background-color: transparent;
    color: inherit;
    padding: 4px 8px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button:hover {
    background-color: #ddd;
    border: 1px solid #1C1517;
    color: #1C1517;
}
