:root {
    /* Font families */
    --ff-primary: Garamond, serif;

    /* Font weights */
    --fw-reg: 300;
    --fw-bold: 900;

    /* Colors */
    --clr-light: whitesmoke;
    --clr-dark: black;
    --clr-accent: cadetblue;

    /* Font sizes */
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    /* box shadow */
    --bs-std: 8px 8px black;
}

/* Base font size. All other fonts size relative to this. */
html { font-size: 10px; }

body {
    font-family: Garamond, serif;
    color: var(--clr-light);

    background-color: #1E1E1E; /* fallback background */
    background-image: linear-gradient(to right, salmon , purple);

    align-items: center;
    justify-content: center;
    margin: 0;
}

.text {
    width: 600px;
    font-size: 2rem;
}
.text:first-child { margin-top: 50px; }
.text--link { color: powderblue; }
.text--link:hover { text-decoration: none; }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.body-container {
    display: flex;

    margin: 0 auto;

    width: min-content;

    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.catalog--container {
    display: grid;
    
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 16px;
    
	justify-content: center;
	margin: 1.6rem 0;
}

@media (max-width: 1500px) {
    .catalog--container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 700px) {
    .catalog--container {
        grid-template-columns: 1fr 1fr;
    }
}

/*
=======================================================================
Navigation bar details
=======================================================================
The navigation bar is meant to only house links that take the user away
	from homepage.html as all other links should keep within this "home"
	document while opening the desired link in a new tab.
*/
.navbar {
	position: relative;
	overflow: hidden;
    margin: 8px 8px 15px 8px;
    
    background-color: var(--clr-accent);
    box-shadow: 3px 3px black;
	border-radius: 4px;
}
/* Style the links inside the navigation bar */
.navbar a {
    text-decoration: none;
	float: left;
    color: var(--clr-light);
	text-align: center;
    padding: 3px 8px;
	/* font-size: 15px; */
	font-size: 1.5rem;
}
/* Change style of links in hover */
.navbar a:hover {
    /* background-color: #ddd; */
    background-color: var(--clr-light);
    color: var(--clr-dark);
}
/* Change style of the active/current link */
.selected {
    /* color: white; */
    font-style: italic;
    text-decoration: underline;
}
/* Centered section inside the navigation bar */
.navbar--center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
/* Right-aligned section inside the navigation bar */
.navbar--right {
	float: right;
}
