html {
    /* Base font size. All other fonts size relative to this. */
    font-size: 10px;
}

body {
    font-family: Garamond, serif;
    color: white;
    /*
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    */
    background-color: #1E1E1E;
    /* background-image: url(./img/main_background.png); */
    background-size: cover;
    /*align-items: center;*/
    margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.body-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

/* Currently used in WeatherContainer.js and PokemonDisplay.js 
    the styling is able to reach these components without explicit
    imports for unknown reasons */
.container {
    width: 400px;
    background-color: #1C1517;
    border: 1px solid #ddd;
    padding: 8px 8px;
    text-align: center;
    font-size: 1.6rem;
}

.catalog--container {
	justify-content: center;
	margin: 1.6rem 0;

	display: flex;
    flex-direction: row;
}
